/NetBeansProjects/sud/nbproject/private/
/NetBeansProjects/sud/build/
/NetBeansProjects/JavaFXApplication1/nbproject/private/
/NetBeansProjects/JavaFXApplication1/build/
/NetBeansProjects/JavaFXApplication1/dist/
/NetBeansProjects/jfxml_login/nbproject/private/
/NetBeansProjects/aps chat/nbproject/private/
/NetBeansProjects/chat/nbproject/private/
/NetBeansProjects/chat/build/
/NetBeansProjects/chat/dist/
/NetBeansProjects/apschat/nbproject/private/
/NetBeansProjects/apsChat/nbproject/private/
/NetBeansProjects/apschat/dist/
/NetBeansProjects/JavaFXApplication8/nbproject/private/
/NetBeansProjects/chat1/nbproject/private/
/NetBeansProjects/chat1/build/
/NetBeansProjects/chat1/dist/
/NetBeansProjects/database/nbproject/private/